* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: no;
}

.navbar-main {
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-border {
  width: 1px;
  height: 50px;
  border: 0.5px solid grey;
  margin-left: 30px;
}

.top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  padding-bottom: 30px;
}

.left-part,
.center-part,
.right-part {
  display: flex;
  align-items: center;
}

/* LOGO */
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 40px;
}

.title span {
  font-size: 40px;
  color: #0a93cf;
}

.title svg {
  color: #0a93cf;
  background-color: #f3f9fb;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* SEARCH */
.search {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px 10px;
  width: 650px;
  height: 70px;
  background-color: #f3f9fb;
  margin-left: -400px;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  margin: 0 8px;
  padding: 5px 8px;
  background-color: #f3f9fb;
}

.search svg:first-child {
  color: #0a93cf;
  cursor: pointer;
}

.search svg:last-child {
  color: #0a93cf;
  cursor: pointer;
}

/* SIGN IN */
.sign {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: -25rem;
}

.sign svg {
  color: #0a93cf;
}

.sign span {
  color: grey;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}

.sign span:hover {
  color: #0a93cf;
}

/* CART */
.cart {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 40px;
}

.cart svg {
  color: #0a93cf;
}

.cart span {
  color: grey;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cart span:hover {
  color: #0a93cf;
}

.bottom-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow-x: auto;
  gap: 12px;
  position: relative;
  height: 100px;
}

.nav-item,
.nav-item-with-dropdown .nav-item {
  background-color: #f5fafd;
  color: black;
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 6px;
  position: relative;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #0a93cf;
  color: white;
}

.dropdown-icon {
  font-size: 14px;
  color: #0099dc;
}

.nav-item-with-dropdown {
  position: relative;
}

.nav-item {
  padding: 15px;
}
