* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.electronics-slider-wrapper {
  margin-top: 8rem;
}

.electronics-category {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
  height: 70px;
}

.electronics-category p {
  margin: 0;
  font-size: 30px;
  color: #333;
}

.electronics-highlight {
  font-weight: bold;
  color: #007dc5;
  border-bottom: 3px solid #007dc5;
}

.electronics-view-all {
  display: flex;
  align-items: center;
  color: #666;
  cursor: pointer;
  font-size: 20px;
}

.electronics-righticon {
  color: #007dc5;
}

.electronics-slider {
  padding: 40px 16px;
  overflow: hidden;
}

.electronics-slider .slick-slide {
  display: flex !important;
  justify-content: center;
}

.electronics-card {
  width: 260px;
  height: 260px;
  border-radius: 16px !important;
  overflow: hidden;
}

.electronics-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px !important;
}

.electronics-slider .slick-dots li button::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #d9d9d9;
  opacity: 1;
  transition: width 0.3s ease, border-color 0.3s ease,
    background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.electronics-slider .slick-dots li.slick-active button::before {
  width: 30px;
  height: 10px;
  border-color: #0a93cf;
  background-color: #0a93cf;
  border-radius: 12px !important;
  opacity: 1;
  transform: translateX(-10px);
}

.electronics-card a {
  text-decoration: none;
}
